{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_news/form
    Example context (json):
    {
        'news' => array_values($news),
        'form_link' => $linkadd->__toString(),
    }
}}
<div id="news-container">
  <a id="add-button" href="{{formlink}}">Add Button</a>
  <table id="news_table" class="display" data-page-length='25'>
    <thead>
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Is Enabled</th>
        <th>cretaed</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
    {{#news}}
      <tr>
        <td>{{id}}</td>
        <td>{{title}}</td>
        <td>{{is_enabled}}</td>
        <td>{{timemodified}}</td>
        <td>
            <a class="action-link" href="{{linkedit}}">edit</a>/<a class="action-link" href="{{linkdelete}}">delet</a>
        </td>
      </tr>
    {{/news}}
    </tbody>
  </table>
<div>
